# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
node_modules/
package.json
package-lock.json

# IDE
.idea/

# Ruff cache
.ruff_cache/

# Python version
.python-version

# WSL remains
*:Zone.Identifier

data/overlay/*.json

